/* You can add global styles to this file, and also import other style files */
* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}

body {
  background: #eef0f8;
  margin: 2em;
}

.container {
  max-width: 1230px;
}

h1 {
  font-size: 2em;
  font-weight: bold;
}

h2 {
  font-family: Roboto;
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 15px;
}

.users-field {
  display: flex;
  background-color: white;
}

.close {
  width: 10px;
  height: 10px;
  cursor: pointer;
}

.close:before,
.close:after {
  content: "";
  position: absolute;
  top: 5.3vw;
  right: 3vw;
  width: 13px;
  height: 2px;
  background: #acacbc;
}

.close:before {
  webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.close:after {
  webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.btn-massages {
  height: 50px;
  margin-bottom: 10px;
}

/*.btn-wrapper {*/
/*  width: 100%;*/
/*  height: 50px;*/
/*  background-color: coral;*/
/*}*/

.btn-massages .btn {
  width: 190px;
  text-align: left;
  padding-left: 20px;
}

.btn {
  color: #ffffff;
  padding: 10px;
  font-size: 0.9em;
}

.btn-massages-err {
  position: absolute;
  box-shadow: 0 10px 10px rgba(239, 125, 160, 0.4);
  background: #ef7da0;
}

.btn-massages-susses {
  position: relative;
  left: 1000px;
  box-shadow: 0 10px 10px rgba(102, 187, 106, 0.4);
  background: #66bb6a;
}

.btn-info {
  background-color: #0d6efd;
  margin-top: 10px;
}

.btn-info:hover {
  color: #ffffff;
  background-color: #0b5ed7;
}

.users {
  align-items: flex-end;
  width: 65%;
  background-color: chartreuse;
}

.form-button {
  display: flex;
  justify-content: space-between;
}

.users .users-button {
  margin-left: 710px;
  margin-bottom: 10px;
}

.users-button {
  margin: 0;
  width: 80px;
  height: 35px;
  border: none;
  /*background-color: #2e8ff0;*/
}

.users-button__save {
  box-shadow: 0 5px 6px rgba(46, 143, 240, 0.4);
}
.users-button__save:hover {
  box-shadow: 0 5px 6px rgba(46, 143, 240, 0.4);
  background-color: #0d6efd;
}

.users-button__delete {
  box-shadow: 0 10px 10px rgba(239, 125, 160, 0.4);
  background-color: #ef7da0;
}
.users-button__delete:hover {
  box-shadow: 0 10px 10px rgba(239, 125, 160, 0.4);
  background-color: #ef7da0;
}

.users-list {
  text-align: left;
  border-spacing: 0;
}

.wrapper {
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0, 0, 1, 0.1);
  background-color: #fff;
  padding: 20px 10px 15px 10px;
}

thead {
  color: #acacbc;
}

tbody {
  background: #f4f5f8;
}

tr {
  border-bottom: 1px solid #fff;
}

tr:last-of-type {
  border-bottom: none;
  height: 40px;
}

tfoot {
  height: 50px;
}

.users-specialty {
  width: 100%;
  background-color: purple;
}

/*.user {*/
/*  z-index: 999;*/
/*}*/

.user, .userNew {
  display: block;
  position: absolute;
  width: 35%;
  /*background-color: firebrick;*/
  padding: 45px 20px 0 20px;
}

/*.user-new {*/
/*  !*background-color: darkgreen;*!*/
/*  padding: 0 20px 0 20px;*/
/*}*/

.user-form-header {
  border: none;
}

.row {
  height: 100%;
  margin: 0;
}

.form {
  height: 100%;
  padding: 0;
  margin: 0;
}

.form-button-newUser {
  justify-content: center;
}

.form-control {
  height: 30px;
  background-color: #f4f5f8;
  border: none;
  border-radius: 4px;
  margin-bottom: 10px;
}
